# Dependencies
node_modules/

# Build
.next/
dist/
target/

# Environment files
.env
.env*.local
.env.development
.env.test
.env.production
!.env.example
!.env*.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log